In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import davies_bouldin_score

In [2]:
customers = pd.read_csv("Downloads/Customers.csv")
products = pd.read_csv("Downloads/Products.csv")
transactions = pd.read_csv("Downloads/Transactions.csv")

In [4]:
data = transactions.merge(customers, on='CustomerID').merge(products, on='ProductID')

In [5]:
interaction_matrix = data.pivot_table(index='CustomerID', columns='ProductID', values='TotalValue', fill_value=0)

In [6]:
similarity = cosine_similarity(interaction_matrix)
similarity_df = pd.DataFrame(similarity, index=interaction_matrix.index, columns=interaction_matrix.index)

In [7]:
lookalike_results = {}
for customer_id in similarity_df.index[:20]:
    similar_customers = similarity_df[customer_id].sort_values(ascending=False)[1:4]  # Exclude self
    lookalike_results[customer_id] = list(similar_customers.items())

In [17]:
lookalike_df = pd.DataFrame.from_dict(lookalike_results, orient='index')
lookalike_df.to_csv("Sandesh_Dhamane_lookalike.csv")

In [18]:
look=pd.read_csv("looklike.csv")

In [19]:
look.head()

,Unnamed: 0,0,1,2
0,C0001,"('C0050', 0.5326650751975152)","('C0100', 0.5286434400087234)","('C0105', 0.5220446140641956)"
1,C0002,"('C0109', 0.5734695282308275)","('C0079', 0.5285529219537446)","('C0117', 0.5150891446165621)"
2,C0003,"('C0181', 0.6200214220870754)","('C0186', 0.5564687690216371)","('C0067', 0.5507236227461357)"
3,C0004,"('C0063', 0.45920773392365705)","('C0070', 0.44279874990787127)","('C0076', 0.38293854526808435)"
4,C0005,"('C0096', 0.6683801091411397)","('C0192', 0.6418213940288774)","('C0072', 0.6304891486232183)"

In [20]:
look.shape

(20, 4)

In [21]:
look.describe()

,Unnamed: 0,0,1,2
count,20,20,20,20
unique,20,20,20,20
top,C0001,"('C0050', 0.5326650751975152)","('C0100', 0.5286434400087234)","('C0105', 0.5220446140641956)"
freq,1,1,1,1